<div class="page-wrap col-xs-9">
  <h4 ng-if="currentpolicy.id === undefined">Creating Policy</h4>
  <h4 ng-if="currentpolicy.id !== undefined">Editing Policy - <span class="green-800">{{currentpolicy.name}}</span></h4>
  <p />
  <input type="text" class="form-control" 
  			capitalize ng-model="currentpolicy.name" 
  			placeholder="Policy Name" 
  			maxlength="50" />
  </p>
  <textarea class="form-control" textlimit maxlength="1000" rows="7" cols="10" ng-model="currentpolicy.description" placeholder="Policy Description"></textarea>
 
  <p />
  <br />
  <h4>Resource Permissions</h4>
  <div class="margin-bottom-20 bg-blue-grey-200 padding-20" 
  				ng-if="!policycheck(currentpolicy)">
    No permissions exist for this policy.
  </div>
  <div class="margin-bottom-20 bg-blue-100 padding-20" ng-repeat="(effect,perms) in currentpolicy.resourceMap" ng-if="effect=='ALLOW'">
    <div class="row">
    	<div class="green-800 bold margin-bottom-10 padding-left-20">ALLOW</div>
    	<div class="col-xs-12 margin-bottom-10" ng-repeat="p in perms track by $index" >
    		<div class="input-group">
	    		<input type="text" nospace class="form-control" name="eff-permission" ng-disabled="!editpermission[effect+'_'+$index]" ng-model="currentpolicy.resourceMap[effect][$index]" />
	    		<span class="input-group-btn">
	    			<button class="btn btn-default btn-secondary margin-top-0" ng-click="editpermission[effect+'_'+$index]=true;">Edit</button>
	    			<button class="btn btn-danger btn-secondary margin-top-0" ng-click="removepermission(effect,$index)">Remove</button>
	    		</span>
    		</div>
    	</div>
    </div>
  </div>
  <div class="margin-bottom-20 bg-blue-100 padding-20" ng-repeat="(effect,perms) in currentpolicy.resourceMap" ng-if="effect=='DENY'">
    <div class="row">
    	<div class="red-800 bold margin-bottom-10 padding-left-20">DENY</div>
    	<div class="col-xs-12 margin-bottom-10" ng-repeat="p in perms track by $index" >
    		<div class="input-group">
	    		<input type="text" nospace class="form-control" name="eff-permission" ng-disabled="!editpermission[effect+'_'+$index]" ng-model="currentpolicy.resourceMap[effect][$index]" />
	    		<span class="input-group-btn">
	    			<button class="btn btn-default btn-secondary margin-top-0" ng-click="editpermission[effect+'_'+$index]=true;">Edit</button>
    				<button class="btn btn-danger btn-secondary margin-top-0" ng-click="removepermission(effect,$index)">Remove</button>
    			</span>
    		</div>
    	</div>
    	<div class="col-xs-2">
    	</div>
    </div>
  </div>
  
  <div class="margin-bottom-20 bg-blue-100 padding-20" ng-if="$global.toggledef('addingpermission')">
      <div class="row">
    	<div class="col-xs-3">
    		<select class="form-control" ng-model="newpermission.effect">
    			<option value="">Effect</option>
    			<option value="ALLOW">Allow (+)</option>
    			<option value="DENY">Deny (-)</option>
    		</select>
    	</div>
    	<div class="col-xs-8">
    		<input type="text" nospace class="form-control" name="eff-permission" ng-model="newpermission.permission" placeholder="Enter Regex for Permission Flow Path (i.e. /flow/[a-zA-Z_]+/restricted_flow)" />
    	</div>
    	<div class="col-xs-1">
    		<button class="btn btn-sm btn-success push-right pull-right" ng-click="savePermission(newpermission)">ADD</button>
    	</div>
      </div>
  </div>
  
  <button type="button" class="btn btn-sm btn-warning" ng-click="$global.toggle('addingpermission')" ng-if="$global.toggledef('addingpermission')">Cancel</button>
  <button type="button" class="btn btn-primary btn-sm" ng-click="$global.toggle('addingpermission')" ng-if="!$global.toggledef('addingpermission')">Add Permission</button>
   
  <a class="btn btn-sm btn-info push-left margin-right-5" 
	  ng-if="currentpolicy.id !== undefined"
	  href="#/access/policy/view/{{currentpolicy.id}}">Done</a>
  
  <button class="btn btn-success btn-sm push-right pull-right margin-left-5" 
  		ng-click="savePolicy()">Save</button>
  <button class="btn btn-danger btn-sm push-right pull-right margin-left-5" 
  		ng-if="currentpolicy.id !== undefined" ng-click="deletPolicy()">Delete</button>
  
  <div class="clear"></div>
</div>

