<!-- Policy Select Modal -->
<div class="modal fade" id="policySelectModal" 
		tabindex="-1" role="dialog" 
		aria-labelledby="Select A Policy">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" ng-if="currentuser !== undefined">Select Policies for {{currentuser.name}}</h4>
        <h4 class="modal-title" id="myModalLabel" ng-if="currentrole !== undefined">Select Policies for {{currentrole.name}}</h4>
      </div>
      <div class="modal-body">
	      <b>Please select a policy for  
	      	<span class="green-800" ng-bind="currentuser.name"></span>
	      	<span class="green-800" ng-bind="currentrole.name"></span>
	       from the list of policies available.</b>
	      <div class="policylist margin-top-10 padding-20 bg-blue-grey-100 modal-list">
	      	<div ng-repeat="policy in allpolicies" class="margin-bottom-5">
	      		<div class="row margin-left-0 margin-right-0">
	      			<div class="col-xs-1 padding-5 bg-blue-300 margin-top-3 align-center checkbox-wrapper">
	      				<checkbox ng-model="currentpolicies[policy.id]"></checkbox>
	      			</div>
	      			<div class="col-xs-11 bg-blue-200 padding-10">
	      				<b>{{policy.name}}</b>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="javascript:void(0)" ng-click="$global.toggle('policymodal_'+policy.id)"><small>Detail</small></a>
	      				<div class="policy-detail" ng-show="$global.toggledef('policymodal_' + policy.id)">
		      				{{policy.description}}<br />
		      				<div class="margin-top-10">
			      				<small>
			      					<b>ALLOW</b><br />
			      					<span ng-repeat="p in policy.resourceMap['ALLOW']">
			      						<code>{{p}}</code><br />
			      					</span>
									<span ng-if="policy.resourceMap['ALLOW'] === undefined || policy.resourceMap['ALLOW'].length == 0">
										<code>No Permissions Added</code>
									</span>
			      				</small>
		      				</div>
		      				<div class="margin-top-10">
			      				<small>
			      					<b>DENY</b><br />
			      					<span ng-repeat="p in policy.resourceMap['DENY']">
			      						<code>{{p}}</code><br />
			      					</span>
									<span ng-if="policy.resourceMap['DENY'] === undefined || policy.resourceMap['DENY'].length == 0">
										<code>No Permissions Added</code>
									</span>
			      				</small>
		      				</div>
	      				</div>
	      			</div>
	      		</div>
	      	</div>
	      	<div ng-if="allpolicies === undefined || allpolicies.length == 0">
	      		There are no policies available
	      	</div>
	      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="updatepolicies()">Apply Selected Policies</button>
      </div>
    </div>
  </div>
</div>