<div class="page-wrap col-xs-9">
  <h4 ng-if="currentrole.id === undefined">Creating Role</h4>
  <h4 ng-if="currentrole.id !== undefined">Editing Role - <span class="green-800">{{currentrole.name}}</span></h4>
  <p />
  <input type="text" class="form-control" 
  			capitalize ng-model="currentrole.name" 
  			placeholder="Role Name" 
  			maxlength="50" />
  </p>
  <textarea class="form-control" textlimit maxlength="1000" rows="7" cols="10" ng-model="currentrole.description" placeholder="Role Description"></textarea>
  <p />
  <br />
  <a class="btn btn-sm btn-info push-left" 
	  ng-if="currentrole.id !== undefined"
	  href="#/access/role/view/{{currentrole.id}}">Done</a>
  
  <button class="btn btn-success btn-sm push-right pull-right margin-left-5" 
  		ng-click="saveRole()">Save</button>
  <button class="btn btn-danger btn-sm push-right pull-right margin-left-5" 
  		ng-if="currentrole.id !== undefined" ng-click="deleteRole()">Delete</button>
  
  <div class="clear"></div>
  <p />
  <br />
  <h4>Policies</h4>
  <div class="margin-bottom-20 bg-blue-100 padding-20" ng-if="currentrole.policySet === undefined || currentrole.policySet == null || currentrole.policySet.length == 0">
    No policies exist for this role.
  </div>
  <div class="margin-bottom-20 bg-blue-100 padding-20" ng-repeat="policy in currentrole.policySet">
    <span ng-bind="policy.name" class="green-800 bold"></span>
    <br />
    <span ng-bind="policy.description"></span>
    <br />
	<div class="margin-top-10">
		<small>
			<b>ALLOW</b><br />
			<span ng-repeat="p in policy.resourceMap['ALLOW']">
				<code>{{p}}</code><br />
			</span>
			<span ng-if="policy.resourceMap['ALLOW'] === undefined || policy.resourceMap['ALLOW'].length == 0">
				<code>No Permissions Added</code>
			</span>
		</small>
	</div>
	<div class="margin-top-10">
		<small>
			<b>DENY</b><br />
			<span ng-repeat="p in policy.resourceMap['DENY']">
				<code>{{p}}</code><br />
			</span>
			<span ng-if="policy.resourceMap['DENY'] === undefined || policy.resourceMap['DENY'].length == 0">
				<code>No Permissions Added</code>
			</span>
		</small>
	</div>
  </div>
  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#policySelectModal">Edit Policies</button>
   
</div>

<div ng-include="'app/components/policy/inc-modal-selectpolicy.html'"></div>
