<!-- Policy Select Modal -->
<div class="modal fade" id="roleSelectModal" 
		tabindex="-1" role="dialog" 
		aria-labelledby="Select A Role">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Roles for {{currentuser.name}}</h4>
      </div>
      <div class="modal-body">
	      <b>Please select a role for this user from the list of roles available.</b>
	      <div class="rolelist margin-top-10 padding-20 bg-blue-grey-100 modal-list">
	      	<div ng-repeat="role in allroles" class="margin-bottom-5">
	      		<div class="row margin-left-0 margin-right-0">
	      			<div class="col-xs-1 padding-5 bg-blue-300 margin-top-3 align-center checkbox-wrapper">
	      				<checkbox ng-model="currentroles[role.id]"></checkbox>
	      			</div>
	      			<div class="col-xs-11 bg-blue-200 padding-10">
	      				<b>{{role.name}}</b>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="javascript:void(0)" ng-click="$global.toggle('rolemodal_'+role.id)"><small>Detail</small></a>
	      				<div class="role-detail" ng-show="$global.toggledef('rolemodal_' + role.id)">
		      				{{role.description}}<br />
		      				<div class="policy-detail margin-top-10 padding-top-10 dotted-border-top padding-20" ng-repeat="policy in role.policySet">
		      					<b>{{policy.name}}</b>
		      					<br />
		      					{{policy.description}}
			      				<div class="margin-top-10">
				      				<small>
				      					<b>ALLOW</b><br />
				      					<span ng-repeat="p in policy.resourceMap['ALLOW']">
				      						<code>{{p}}</code><br />
				      					</span>
										<span ng-if="policy.resourceMap['ALLOW'] === undefined || policy.resourceMap['ALLOW'].length == 0">
											<code>No Permissions Added</code>
										</span>
				      				</small>
			      				</div>
			      				<div class="margin-top-10">
				      				<small>
				      					<b>DENY</b><br />
				      					<span ng-repeat="p in policy.resourceMap['DENY']">
				      						<code>{{p}}</code><br />
				      					</span>
										<span ng-if="policy.resourceMap['DENY'] === undefined || policy.resourceMap['DENY'].length == 0">
											<code>No Permissions Added</code>
										</span>
				      				</small>
			      				</div>
		      				</div>
	      				</div>
	      			</div>
	      		</div>
	      	</div>
	      	<div ng-if="allroles === undefined || allroles.length == 0">
	      		There are no roles available
	      	</div>
	      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="updateroles()">Add Selected Roles</button>
      </div>
    </div>
  </div>
</div>