<!-- view user keys -->
<div class="modal fade" id="viewApiKeyModal" 
		tabindex="-1" role="dialog" 
		aria-labelledby="User API Keys">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
        Keys for {{currentuser.name}}
        </h4>
      </div>
      <div class="modal-body">
		  <!--  flow editor -->
		  <div class='bg-blue-200 margin-top-0 margin-bottom-10 padding-20'>
		  	
		  	<div id="api-key-list">
				<div ng-repeat="key in currentuser.keySet">
				<b>{{key.uuid}}</b><br />
				<small>Expires: {{ key.expirationDate | date : "fullDate" }}</small>
				<br />
				<button class="btn btn-sm btn-danger margin-top-5" type="button" ng-click="revokeuserkey(key.uuid)">Revoke</button>
				</div>
				<div ng-if="currentuser.keySet === undefined || currentuser.keySet == null || currentuser.keySet.length == 0">
				No keys are associated with this user
				</div>
			</div>
			
		  </div>
		</div>
		  <a class="btn btn-sm btn-success push-right margin-right-5" href="javascript:void(0)" ng-click="adduserkey()">Generate Key</a>
		  <div class='clear'></div>
	 </div>
  </div>
</div>
<!-- //view user keys -->