<div class="page-wrap">

	<div class="row">
		<div class="col-xs-4">
			<h4 class="pull-left">Nodes</h4> 
			<div class='clear'></div>
		</div>
		<div class="col-xs-8">
		</div>
	</div>
	
	<div id="node-list" class="component-list-wrapper padding-15">
		
		<div class="row component-header-row">
			<div class="col-xs-3 bold blue-800">
				Host
			</div>
			<div class="col-xs-1 bold blue-800">
				Port
			</div>
			<div class="col-xs-2 bold blue-800">
				Path
			</div>
			<div class="col-xs-2 bold blue-800">
				Status
			</div>
			<div class="col-xs-1 bold blue-800">
				Leader
			</div>
			<div class="col-xs-2 bold blue-800">
				Updated
			</div>
		</div>	
		<div class="row component-row" ng-repeat="node in nodelist">
			<div class="col-xs-3">
				<span class="cmpname">
				{{node.host}}
				</span>
			</div>
			<div class="col-xs-1">
				{{node.port}}
			</div>
			<div class="col-xs-2">
				{{node.path}}
			</div>
			<div class="col-xs-2">
				<span ng-class="{'green-800':node.status=='AVAILABLE'}">{{node.status}}</span>
			</div>
			<div class="col-xs-1">
				<span ng-bind="node.leader?'Leader':'Not Leader'"></span>
			</div>
			<div class="col-xs-3">
				<span>{{node.statusDate | date : 'MMM dd, yyyy hh:mm a'}}</span>
			</div>
		</div>	
		
		<div class="row component-row" ng-if="nodelist === undefined || nodelist.length == 0">
			<div class="col-xs-8">
				<span class="cmpname">
					No Nodes Defined
				</span> 
			</div>
		</div>
	
	</div>
	
</div>
