<div class="margin-top-10 padding-20 dotted-border">
	 <input type="text" class="form-control" 
	 			nospace capitalize ng-model="currentflow.name" 
	 			placeholder="Flow Name" maxlength="50" />
	 </p>
	 <textarea class="form-control" textlimit maxlength="1000" rows="7" cols="10" ng-model="currentflow.description" placeholder="Flow Description"></textarea>
	
	 <div class="clear"></div>
	
	 <div class="margin-top-10">
	 	<div>
	 		<b>Schedule Type</b>
	  	<select id="module-selector" class="form-control margin-top-5 margin-bottom-10" 
	  				ng-if="appeditor.modref=='-1'"
	  				ng-model="currentflow.scheduleType">
	  				<option value="">No Schedule</option>
	  				<option value="FIXED_DELAY">Fixed Delay</option>
	  				<option value="CRON">Cron</option>
	  	</select>
	  	<div class="input-group relative" ng-if="currentflow.scheduleType=='FIXED_DELAY'">
	  		<input type="text" class="form-control" ng-model="currentflow.schedule" numeric placeholder="Enter Time"/>
	  		<div class="input-group-btn">
	  			<button type="button" class="btn btn-default margin-top-0"><span ng-bind="currentflow.timeUnit || 'No Units'"></span></button>
	  			<button type="button" class="btn btn-default dropdown-toggle margin-top-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Time Unit <span class="caret"></span></button>
	  			<ul class="dropdown-menu dropdown-menu-right">
	  				<li ng-repeat="tu in ['SECONDS','MINUTES','HOURS','DAYS']">
	  					<a href="javascript:void(0)" ng-click="currentflow.timeUnit=tu">{{tu}}</a>
	  				</li>
	  			</ul>
	  		</div>
	  	</div>
	  	<input type="text" class="form-control" ng-model="currentflow.schedule" ng-if="currentflow.scheduleType=='CRON'" placeholder="Enter Cron String"/>
	  	
	  	<div class="margin-top-10 bg-blue-400 padding-20" ng-if="currentflow.scheduleType=='CRON'">
	  		<b>Example Expressions</b><br />
	  		<code>0 0 * * * *</code> the top of every hour of every day.<br />
			<code>*/10 * * * * *</code> every ten seconds.<br />
			<code>0 0 8-10 * * *</code> 8, 9 and 10 o'clock of every day.<br />
			<code>0 0/30 8-10 * * *</code> 8:00, 8:30, 9:00, 9:30 and 10 o'clock every day.<br />
			<code>0 0 9-17 * * MON-FRI</code> on the hour nine-to-five weekdays<br />
			<code>0 0 0 25 12 ?</code> every Christmas Day at midnight
	  		</code>
	  	</div>
	 	</div>
	 </div>
	 
	
	<div class="push-right checkbox-wrapper margin-top-10">
   		Enable &nbsp;
   		<checkbox ng-model="currentflow.enabled" ng-change="validateflowenable(currentflow)"></checkbox>
    </div>
     
     <div class="clear"></div>
	 
	 
</div>