<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content">
    <div class="padding-10 bg-blue-100 margin-bottom-5">
		<a href="javascript:void(0)" type="button" 
					class="push-right remove-node close-x" data-nodrag ng-click="removeNode(this)"><span aria-hidden="true">&times;</span></a>
	    <span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp;
		{{node.moduleReference.name}}
		<br />
		<span ng-repeat="(k,v) in node.argumentMap">
			<code>{{k}} => {{v}}</code><br />
		</span>
		<div ng-if="assignedExecutionNodeTrigger[node.parentNode] !== undefined" 
				class="margin-top-10">
		<span class="bold">Select an Event</span>
		<select ng-model="triggermap['flow_'+$parent.$index][node.id]" 
				ng-change="setupflowtriggers(triggermap['flow_'+$parent.$index][node.id],node.id)" data-nodrag 
				ng-options="tname as tname for tname in assignedExecutionNodeTrigger[node.parentNode]" 
				class="form-control margin-top-10">
		</select>
		</div>
	</div>
  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>

<style type="text/css">
#tree1-root .remove-node { display: none }
</style>
<div class="row margin-top-10">
  <div class="col-sm-6">
    <h4>Available Executions</h4>
    <div ui-tree id="tree1-root" data-clone-enabled="true" data-nodrop-enabled="true">
      <ol ui-tree-nodes="" ng-model="flow.executionSet">
        <li ng-repeat="node in flow.executionSet" ui-tree-node ng-include="'nodes_renderer.html'"></li>
      </ol>
    </div>
  </div>

  <div class="col-sm-6">
    <h4>Trigger Configuration</h4>
    <div ui-tree="treeOptions" id="tree2-root" data-clone-enabled="true">
      <ol ui-tree-nodes="" ng-model="assignedExecutionNodes['flow_'+$index]">
        <li ng-repeat="node in assignedExecutionNodes['flow_'+$index]" ui-tree-node ng-include="'nodes_renderer.html'"></li>
      </ol>
    </div>
  </div>
</div>

<button type="button" class="btn btn-sm btn-success margin-top-10" ng-click="$global.toggle('flow-show-data-binding')">
	{{$global.toggledef('flow-show-data-binding')?'Hide':'Show'}} Data Binding
</button>
<div class="row margin-top-20" ng-show="$global.toggledef('flow-show-data-binding')">
  <div class="col-sm-6">
    <pre class="code">{{ flow.executionSet | json }}</pre>
  </div>

  <div class="col-sm-6">
    <pre class="code">{{ assignedExecutionNodes['flow_'+$index] | json }}</pre>
  </div>
</div>